h1 {
  color: purple;
  text-align: center;
}
ul {
  font-size:25px;
  font-weight: 400;
}
p {
  color: blue;
  text-align: left;
  text-shadow:red;
}
body{
  background-color: yellow;
}
#nikhil{
  background-color: black;
}
